html {
  font-size: #{$html-font-size}px;
}

// to remove whitespaces
section,
article,
div {
  font-size: 0;
}

a {
  text-decoration: none;
}

p {
  color: $neutral-400;
  line-height: pxToRem(32);
}

p,
a {
  font-family: $ff-body;
  font-size: pxToRem(18);
}

button {
  border: none;
  background: none;
}
h1,
h2,
h3,
button,
.article__link,
.card__name {
  font-family: $ff-headings;
  color: $neutral-500;
}

button,
h1,
.article__link,
.testimonials__title {
  text-transform: uppercase;
}

nav a,
.card__name,
.card__profession,
.article__title,
.article--bottom__title {
  text-transform: capitalize;
}

h1,
.header__nav a {
  color: $neutral-100;
}
.article__title {
  font-size: pxToRem(40);
}

.article--bottom__title {
  color: $primary-cyan-400;
  font-size: pxToRem(28);
}

.article--bottom__text {
  color: $primary-cyan-300;
  font-size: pxToRem(16);
  line-height: pxToRem(27);
}

.card__profession,
.article__link {
  font-size: pxtorem(15);
}

.testimonials__title {
  font-size: pxToRem(20);
}

.card__profession,
.testimonials__title {
  color: $neutral-200;
}

.heading {
  font-size: pxToRem(56);
}
